/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "keypos_37keys.h"
#define X_MH &kp C_MUTE

#include "helper.h"

#define DEF 0
#define NUM 1
#define SYM 2
#define ADJ 3
#define MOUSE 4

ZMK_LAYER(default_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          &kp Q         &kp W         &kp E         &kp R         &kp T                       &kp Y         &kp U         &kp I         &kp O         &kp P
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp A         &kp S         &kp D         &kp F         &kp G                       &kp H         &kp J         &kp K         &kp L         &kp SEMI
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp Z         &kp X         &kp C         &kp V         &kp B                       &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                      &kp ESC       &kp SPACE     &kp TAB          X_MH       &kp RET       &kp BSPC        &kp DEL
     //                             ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
)
